#wrapper{
    width:360px;
    height: 640px;
    background-color: red;
    position: absolute;
}

#box{
    width: 290px;
    height: 420px;
    margin-top: 35px;
    margin: 35px auto;
    background-color: tomato;
}

#aksara{
    font-size: 350px;
    text-align: center;
    margin-top: auto;
}

@media screen and (max-width: 480px) {
#wrapper{
    width: auto;
    height: auto;
  }
}